
body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
h1 {
    font-family: Verdana   ;
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.icon {
    font-size: 2.5rem;
    margin-right: 10px;
    color: #4CAF50;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-family: Verdana   ;
    margin-bottom: 20px;
}

form {
    font-family: Verdana   ;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    margin-top: 10px;
    text-align: center;
}

input, select {
    font-family: Verdana   ;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #28a768;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

    button:hover {
        background: #218838;
    }

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

#counselorFields {
    display: none;
}


