body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    background-color: #28a768;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

    button:hover {
        background-color: #1ad377;
        transform: scale(1.05);
    }

#eventsSection {
    text-align: left;
    margin-top: 30px;
}

#eventsList li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

    .buttons-container button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #28a768;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

        .buttons-container button:hover {
            background-color: #1ad377;
            transform: scale(1.05);
        }
